#gameboard {
  line-height: 0;
}

.square {
  display: inline-block;
  height: 20px;
  width: 20px;
/*  background-color: white;*/
/*  border: 1px dashed gray;*/
}

.food {
  background-image: url(blinking_dot.gif);
  background-size: contain;
}

.pacman{
  background-image: url(pacman-moving.gif);
  background-size: contain;
}

.ghost{
  background-image: url(red-ghost.png);
  background-size: contain;
}

.wall{
  background-image: url(wall.png);
  background-size: contain;
}