#gameboard {
  line-height: 0;
}

.square {
  display: inline-block;
  height: 27px;
  width: 27px;
/*  background-color: white;*/
/*  border: 1px dashed gray;*/
}

.food {
  background: url(images/regular-food.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}

.super-food{
  background-image: url(images/blinking_dot.gif);
  background-size: contain;
}

.pacman{
  background-image: url(images/pacman-moving.gif);
  background-size: contain;
}

.ghost{
  background-image: url(images/red-ghost.png);
  background-size: contain;
}

.wall{
  background-image: url(images/wall.png);
  background-size: contain;
}

.glow{
  background-image: url(images/glow.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar .navbar-text{
  color: #fff;
}

.spacer {
  height:50px;
}